.content-wrapper{
    padding: 20px;
}
.title{
    padding-left: 20px;
}
.dashboard-container{
    margin-top: 20px;
    padding: 20px;
}
.profile-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.picture-container{
    justify-self: center;
    width: 180px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.subtitle{
    padding-left: 20px;
    margin-bottom: 20px;
}
img{
    object-fit: contain;
    border-radius: 10%;
}